[submodule "public"]
        path = public
        url = git@github.com:midnight-rev/midnight-rev.github.io.git

[submodule "midnight-hackings-theme"]
	path = themes/midnight-hackings-theme
	url = git@github.com:midnight-rev/midnight-hackings-theme.git
